# alias
#alias hoge='fuga'

# PATH
#PATH=$PATH:/path/to/bin

# customize context(user@hostname) color for powerlevel10k
#export CONTEXT_COLOR=250

# for mise
#eval "$(~/.local/bin/mise activate bash)"
